define host{
        use                     linux-server
        host_name               {{ inventory_hostname }}
        alias                   {{ inventory_hostname }}
        address                 {{ inventory_hostname }}
        }

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       {{ inventory_hostname }}
        service_description             PING
	check_command			check_ping!100.0,20%!500.0,60%
        }

define service{
	use                             generic-service         ; Name of service template to use
	host_name                       {{ inventory_hostname }}
        service_description             Check_RAM
        check_command                   check_nrpe! -n -c check_ram
        }

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       {{ inventory_hostname }}
        service_description             Swap Usage
	check_command			check_nrpe! -n -c check_swap
        }

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       {{ inventory_hostname }}
        service_description             Current Load
	check_command			check_nrpe! -n -c check_load
        }

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       {{ inventory_hostname }}
        service_description             Current Users
	check_command			check_nrpe! -n -c check_users
        }

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       {{ inventory_hostname }}
        service_description             Total Processes
	check_command			check_nrpe! -n -c check_total_procs
        }

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       {{ inventory_hostname }}
        service_description             Zombie Processes
        check_command                   check_nrpe! -n -c check_zombie_procs
        }

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       {{ inventory_hostname }}
        service_description             NTPD Service
        check_command                   check_nrpe! -n -c check_ntpd_service
        }

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       {{ inventory_hostname }}
        service_description             NTPD Time Sync Check
        check_command                   check_nrpe! -n -c check_ntpd_time_sync
        }

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       {{ inventory_hostname }}
        service_description             Bandwidth
        check_command                   check_nrpe! -n -c check_bandwidth
        }

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       {{ inventory_hostname }}
        service_description             Config Change Script in Crontab
        check_command                   check_nrpe! -n -c check_crontab_config
        }

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       {{ inventory_hostname }}
        service_description             Cron wsadmin
        check_command                   check_nrpe! -n -c check_Cron_wsadmin
        }

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       {{ inventory_hostname }}
        service_description             Cron root
        check_command                   check_nrpe! -n -c check_Cron_root
        }

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       {{ inventory_hostname }}
        service_description             System Uptime
        check_command                   check_nrpe! -n -c check_uptime
        }


{% if (inventory_hostname in groups['STREAMS_VLAN48']) %}
define service{
        use                             local-service         ; Name of service template to use
        host_name                       {{ inventory_hostname }}
        service_description             Streams
        check_command                   check_nrpe! -n -c check_streams
        }
{% endif %}
